<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Sample App", root_path, id: "logo" %>
			<%= render 'layouts/navigationBar' %>
		</div>
	</div>
</header>